#newsName{
	font-size: 20px;
	font-family: "Arial";
}
.userField {
	background-color: lightblue;
	width: 20%;	/*250px / 1000px*/
	padding: 10px;
	position: fixed;
	border-radius: 5px;
	float: left;
	text-align: left;
}
.news {
	width: 50%;	/*500px / 1000px*/
	margin-left: 25%;
}
.newsText{
	border-radius: 5px;
	background-color: lightgray;
	padding: 10px;
	border: 2px solid gray;
	margin-right: 10px;
	margin-bottom: 10px;
}
.newsInfo{
	color: gray;
	font-size: 14px;
}
.newsInfo-left{
	
	border-right: 2px solid gray;
	float: left;
	padding-right: 10px;
}
.newsInfo-right{
	padding-left: 10px;
	float: left;
}
.newsTitle{
	font-family: "Arial";
	font-size: 18px;
}
.leftColumn {
	width: 50%;
	float: left;
}
.rightColumn{
	width: 50%;
	float: left;
}
.clearLeft{
	clear: left;
}
#filter{
	margin-left: 77%;
	background-color: lightblue;
	width: 20%;	/*250px / 1000px*/
	padding: 10px;
	float: right;
	position: fixed;
	border-radius: 5px;
}
#clearRight{
	clear: right;
}
#footer{
	background-color: lightblue;
	text-align: center;
	padding: 5px;
	bottom:0px;
	margin: 0px;
}